@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree&family=DM+Sans:wght@400;500;700&display=swap');

*, *::after, *::before{
    box-sizing: border-box;
}

:root{
    --background-color: #F2F1EF;
    --dark-color: #161513;
    --accent-color: #E94D35;
}

body{
    font-family: 'Bai Jamjuree', sans-serif;
    color: var(--dark-color);
    background-color: var(--background-color);
}

.container{
    max-width: 1280px;
    margin: 0 auto;
}

h1,h2,h3,h4,h5,h6{
    padding: 0;
    margin: 0;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

a{
    text-decoration: none;
}

/* _______________________________________________Header________________________________________ */

.header {
    font-size: 16px;
    line-height: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 96px;
    padding-top:32px;
    padding-bottom: 32px;
}

.header__menu-list{   
    display: flex;
    flex-direction: row;
    /* align-items: center;
    justify-content: center; */
}

.header__menu-items  +.header__menu-items {
    margin-left: 32px;
}

.header__button {
    background-color: transparent;
    width: 126px;
    height: 42px;
    cursor: pointer;
}

/* ____________________________________________Intro_________________________________________ */

.intro{
    display: flex;
    gap: 43px;
    margin-top: 40px;
    align-items: center;
    margin-bottom: 50px;
}

.intro__text{
    max-width: 675px;
}

.intro__text-header{
    font-weight: 400;
    font-size: 56px;
    line-height: 64px;
}

.intro__decore{
    margin: 0 12px;
}

.intro__badges{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.intro__badges-text+.intro__badges-text::before{
    content: url(../images/star.svg);
    height: 20px;
    margin:  8px 16px;
}

.intro__badges-text{
font-size: 23px; 
line-height: 32px;
}

.intro__connect{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 16px;
    line-height: 24px;

}

.intro__connect-text{
    border: 1px solid var(--dark-color);
    background-color: var(--dark-color);
    color: #fff;
    padding: 12px 33px;
}

.intro__connect-btn{
    width: 144px;
    height: 50px;
    font-size: 16px;
    line-height: 24px;
    border: 1px solid var(--dark-color);

}

/* ____________________________________________Skewed__________________________________________ */

.skewed {
    height: 64px;
    transform: rotate(-5deg);
}

.skewed__container {
    max-width: 1440px;
    margin: 0 auto;
    margin-bottom: 123px;
}


.skewed__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--dark-color);
    height: 64px;
    padding-left: 25px;


}
.skewed__list-item {
    font-size: 18px;
    line-height: 32px;
    color: #FFF;
    margin-right: 9px;
    height: 32px;
    

}

.skewed__list-item{
    
}

.skewed__list-item + .skewed__list-item::after {
    content: url(../images/star.svg);
    margin: auto 62px auto 9px;
}

/* ___________________________________________Info________________________________________________ */

.info {
    display: flex;
    /* flex-direction: row; */
}

.info__name {
}
.info__name-name {
}
.info__name-vacancy {
}
.info__short {
}
.info__short-main {
}
.info__short-sec {
}
.info__short-data {
}
.info__short-city {
}
.info__short-head {
}
.info__short-expericence {
}
.info__short-age {
}
