@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree&family=DM+Sans:wght@400;500;700&display=swap');

*, *::after, *::before{
    box-sizing: border-box;
}

:root{
    --background-color: #F2F1EF;
    --dark-color: #161513;
    --accent-color: #E94D35;
}

body{
    font-family: 'Bai Jamjuree', sans-serif;
    color: var(--dark-color);
    background-color: var(--background-color);
}

.container{
    max-width: 1280px;
    margin: 0 auto;
}

.container__small{
    max-width: 1060px;
    margin: 0 auto;
}

h1,h2,h3,h4,h5,h6{
    padding: 0;
    margin: 0;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

a{
    text-decoration: none;
}

p{
    margin: 0;
    padding: 0;
}


/* _______________________________________________Header________________________________________ */

.header {
    font-size: 16px;
    line-height: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 96px;
    padding-top:32px;
    padding-bottom: 32px;
}

.header__menu-list{   
    display: flex;
    flex-direction: row;
}

.header__menu-items  +.header__menu-items {
    margin-left: 32px;
}

.header__button {
    background-color: transparent;
    width: 126px;
    height: 42px;
    cursor: pointer;
}

.intro__text-sun::before{
    content: url(../images/sun.svg);
    margin: 0 12px;
}

/* ____________________________________________Intro_________________________________________ */

.intro{
    display: flex;
    margin-top: 40px;
}

.intro__image{
    width:562px;
    height:563px;
}

.intro__text{
    max-width: 675px;
    margin-right: 43px;
}

.intro__text-header{
    font-weight: 400;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: 0.56px;
    text-transform: uppercase;
}

.intro__decore{
    margin: 0 12px;
}

.intro__badges{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 31px;
    margin-bottom: 40px;
    letter-spacing: 0.48px;
    text-transform: uppercase;
}

.intro__badges-text+.intro__badges-text::before{
    content: url(../images/star.svg);
    height: 20px;
    width: 20px;
    margin:  8px 16px;
}

.intro__badges-text{
font-size: 23px; 
line-height: 32px;
text-transform: uppercase;
}

.intro__connect{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 16px;
    line-height: 24px;

}

.intro__connect-text{
    border: 1px solid var(--dark-color);
    background-color: var(--dark-color);
    color: #fff;
    padding: 12px 33px;
}

.intro__connect-btn{
    width: 144px;
    height: 50px;
    font-size: 16px;
    line-height: 24px;
    border: 1px solid var(--dark-color);

}

/* ____________________________________________Skewed__________________________________________ */

.skewed {
    height: 64px;
    transform: translateY(-80px) rotate(-5deg);
}

.skewed__container {
    max-width: 1440px;
    margin: 0 auto;
    margin-bottom: 123px;
}

.skewed__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--dark-color);
    height: 64px;
    padding-left: 25px;
}

.skewed__list-item {
    font-size: 18px;
    line-height: 32px;
    color: #FFF;
    margin-right: 9px;
    height: 32px;
    text-transform: uppercase;
}

.skewed__list-item + .skewed__list-item::after {
    content: url(../images/star.svg);
    margin: auto 62px auto 9px;
}

/* ___________________________________________Info________________________________________________ */

.info {
    display: flex;
    margin-bottom: 120px;

}

.info__name-name {
    text-transform: uppercase;
    font-size: 23px;
    line-height: 32px;
    margin-bottom: 22px;
    letter-spacing: 0.48px;
}

.info__name-highlight::after{
    content: url(../images/star.svg);
    margin: 0 8px;
}

.info__name-vacancy {
    font-size: 56px;
    line-height: 64px;
    max-width: 351px;
    margin-right: 97px;
    letter-spacing: 0.56px;
}

.info__short {
    max-width: 598px;
}

.info__short-main {
    font-size: 31px;
    line-height: 40px;
    letter-spacing: 0.64px;
}

.info__short-sec {
    font-size: 18px;
    line-height: 32px;
    margin-top: 36px;
    margin-bottom: 27px;
}

.info__short-data {
    display: flex;
    justify-content: space-between;
    
}

.info__short-head {
    font-size: 12px;
    line-height: 16px;
    color: var(--accent-color);
    height: 16px;
    margin-bottom: 8px;
}

.info__short-bottom{
    font-size: 23px;
    line-height: 32px;
    letter-spacing: 0.48px;
}
/* _____________________________________Info__big_______________________________________________ */

.info__big-bages {
    display: flex;
    flex-direction: row;
    height: 152px;
    max-width: 1060px;
    margin: 0 auto;
    margin-bottom: 180px;
    

}
.info__big {
    border: 1px solid var(--dark-color);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.info__big:nth-child(even){
    background-color: var(--dark-color);
    color: #fff;
}


.info__big-number {
    font-size: 56px;
line-height: 64px;
}
.info__big-text {
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 1.28px;
    text-transform: uppercase;

}

/* _________________________________________Awards_______________________________________________ */

.awards {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 120px;
}
.awards__heading {
    font-size: 45px;
    line-height: 56px;
    letter-spacing: 1.44px;
    text-align: center;
}
.awards::before {
    content: url(../images/sun.svg);
    transform: translateY(-22px);
}
.awards__subheading {
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 1.44px;
    text-transform: uppercase;
    margin-bottom: 60px;
}
.awards__list {
    width: 100%;
}

.awards__list-item {
    border: 2px solid var(--dark-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 23px;
    padding: 38px 33px;
}

.awards__names {
    display: flex;
    max-width: 367px;
    align-items: center;

}

.awrds__number {
    margin-right: 24px;
}

.awards__text {
    width: 295px;
}

.awards__name {
    font-size: 23px;
    line-height: 32px;
    letter-spacing: 0.48px; 
}

.awards__place {
    font-size: 18px;
    line-height: 32px;
}

.awards__year {
    max-width: 197px;
    font-size: 16px;
line-height: 32px;
display: flex;
}

.awards__date {
    margin-left: 16px;
}

/* ________________________________________Portfolio___________________________________________ */

.portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 120px;
}

.portfolio::before {
    content: url(../images/sun.svg);
    margin-bottom: 22px;
}

.portfolio__header {
    font-size: 45px;
    line-height: 56px;
    text-align: center;
    letter-spacing: 1.44px;
    margin-bottom: 17px;
}

.portfolio__subheader {
    letter-spacing: 1.44px;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    margin-bottom: 60px;
}

.portfolio__content{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.design__block{
    display: flex;
    justify-content: space-between;
    margin-bottom: 96px;
}

.design__block:nth-child(even){
    flex-direction: row-reverse;
}

.design__text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    max-width: 556px;
}
.design__badge {
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 1.44px;
    text-transform: uppercase;
    background-color: var(--accent-color);
    display: inline-block;
    margin-top: 24px;
    margin-bottom: 35px;
    color: #fff;
    padding: 5px 12px;

}
.design__heading {
    font-size: 45px;
    line-height: 56px;
    letter-spacing: 1.44px;
}

.design__link {
    font-size: 20px;
    line-height: 32px;
}
/* _____________________________________Services_____________________________________________ */

.services {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 160px;
}
.services::before {
    content: url(../images/sun.svg);
    margin-bottom: 22px;
}

.services__heading {
    font-size: 45px;
    line-height: 56px;
    text-align: center;
    letter-spacing: 1.44px;
    margin-bottom: 18px;
}

.services__subheading {
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    letter-spacing: 1.44px;
    text-transform: uppercase;
    margin-bottom: 60px;
}

.services__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 40px;
    width: 100%;

}

.services__list-item {
    border: 2px solid #161513;
    width: 100%;
}

.service__list-heading {
    font-size: 31px;
    line-height: 40px;
    letter-spacing: 0.64px;
    margin-top: 34px;
    margin-bottom: 28px;
    margin-left: 34px;
}

.service__list-text {
    font-size: 18px;
    line-height: 32px;
    max-width: 427px;
    margin-left: 34px;
    margin-bottom: 30px;
}

/* ________________________________Customer___________________________________ */

.customer {
    margin-bottom: 112px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.customer::before {
   content: url(../images/sun.svg);
   margin-bottom: 22px;
}
.customer__heading {
    font-size: 45px;
    line-height: 56px;
    text-align: center;
    letter-spacing: 1.44px;
    margin-bottom: 60px;

}
.customer__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 32px;
    width: 100%;
}
.customer__list-item {
    border: 1px solid #131416;
    max-width: 241px;
    height: 98px;
    display: flex;
    align-items: center;
    justify-content: center;
}
